# Node / React
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.production

# Upload files (VERY IMPORTANT)
server/uploads/

# Vercel
.vercel

# VS Code
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# OS
.DS_Store
Thumbs.db
